<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sba.sinhalaphotoeditor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/greenlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".customGallery.MyCustomGallery" android:screenOrientation="portrait" android:label="Pick Image"></activity>
        <activity android:name=".addTextOnImage.TextOnImageActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".drawOnBitmap.DrawOnBitmapActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".welcomeScreen.WelcomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".walkthrough.WalkThroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".UsePreviouslyEditedImageActivity"
            android:label="Edited Images"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddEffects"
            android:label="Add Effect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdjustImage"
            android:label="Add Blur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateABackgroundActivity"
            android:label="Create Image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageSavingActivity"
            android:label="Final Step"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditorActivity"
            android:label="Editor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="Editor"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoOnPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StickerOnPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3538783908730049~6469108180"/>

    </application>

</manifest>


<!--ca-app-pub-3538783908730049~6469108180-->
<!--app id-->